@font-face {
    font-family: 'kghappy-full';
    src: url('./assets/font/KGHAPPY.ttf')  format('truetype');
}
@font-face {
    font-family: 'kghappy-solid';
    src: url('./assets/font/KGHAPPYSolid.ttf')  format('truetype');
}

:root {
    --red: #852320;
    --light-red: #D4534E;
    --yellow: #E8C76D;
    --light-blue: #3B92D9;
    --blue: #215D8F;
}

html {
    background-color: var(--yellow);
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}

main {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: normal;
}

main h2 {
    font-family: 'kghappy-solid', Arial, Helvetica, sans-serif;
    background-color: var(--red);
    color: white;
}

img {
    width: 80%;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    width: 100%;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    text-align: justify;
    padding: 20px 10px;
}

article a {
    color: var(--blue);
}

header, nav, footer {
    font-family: 'kghappy-solid', Arial, Helvetica, sans-serif;
    background-color: var(--blue);
    color: white;
}

header {
    padding: 24px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

header h1 {
    font-family: 'kghappy-full', Arial, Helvetica, sans-serif;
    font-size: 64px;
}

header p {
    font-family: 'kghappy-solid', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

header img {
    margin: 0 auto;
    width: 25%;
    border-radius: 50%;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    font-family: 'kghappy-solid', Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

nav a {
    background-color: var(--light-blue);
    padding: 8px 16px;
    flex-grow: 1;
    font-weight: 100;
}

nav a:hover, footer a:hover {
    text-decoration: none;
    font-family: 'kghappy-full', Arial, Helvetica, sans-serif;
}

.project-section {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

.blog-section {
    padding: 0 24px;
    max-width: 600px;
    margin: 0 auto;
}

.blog-post h3 {
    font-family: 'kghappy-solid', Arial, Helvetica, sans-serif;
}

.blog-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: space-around;
    padding: 16px 0;
}

.blog-nav li {
    text-align: center;
    font-family: 'kghappy-solid', Arial, Helvetica, sans-serif;
    font-size: 32px;
    cursor: pointer;
}

.blog-nav li:hover {
    font-family: 'kghappy-full', Arial, Helvetica, sans-serif;
}

.project-card {
    padding: 2.5%;
    width: 95%;
}

.project-card h3 {
    font-family: 'kghappy-solid', Arial, Helvetica, sans-serif;

}

.project-card p, .project-card a {
    margin: 0;
    color: black;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 8px;
}

.skills h3 {
    text-align: left;
}

#about {
    padding: 10px 10% 10px 10%;
}

#about ul li {
    padding-left: 2em;
}

@media (min-width: 600px) {
    .project-card {
        width: 45%;
    }
}

@media (min-width: 1000px) {
    .project-card {
        width: 28.33333%;
    }
}

@media (min-width: 1400px) {
    .project-card {
        width: 20%;
    }
}

@media (max-width: 720px) {
    header h1 {
        font-size: 48px;
    }
}

@media (max-width: 320px) {
    header h1 {
        font-size: 32px;
    }
}