:root {
    --red: #852320;
    --light-red: #D4534E;
    --yellow: #E8C76D;
    --light-blue: #3B92D9;
    --blue: #215D8F;
}

html {
    background-color: var(--yellow);
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}

main {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
    padding: 10px;
}

main h2 {
    background-color: var(--red);
    color: white;
}

img {
    width: 80%;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    width: 100%;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    text-align: justify;
    padding: 20px 10px;
}

article a {
    color: var(--blue);
}

header, nav, footer {
    background-color: var(--blue);
    color: white;
}

header {
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

header p {
    text-align: center;
    font-variant: small-caps;
    margin: 0;
}

header img {
    margin: 0 auto;
    width: 25%;
    border-radius: 50%;
}

nav ul, footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0;
}

nav li, footer li {
    width: 90%;
    margin: 1px;
    border-radius: 5px;
    background-color: var(--light-blue);
    padding: 2% 5%;
}

nav li:hover, footer li:hover {
    margin: 0;
    border: 1px solid white;
    background-color: var(--blue);
    color: var(--light-blue);
}

nav a, footer a {
    width: 24%;
}

nav a:hover, footer a:hover {
    text-decoration: none;
}

.project-section {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

.project-card {
    padding: 2.5%;
    width: 95%;
}

.project-card p, .project-card a {
    margin: 0;
    color: black;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 8px;
}

.skills h3 {
    text-align: left;
}

#about {
    padding: 10px 10% 10px 10%;
}

#about ul li {
    padding-left: 2em;
}

@media (min-width: 600px) {
    .project-card {
        width: 45%;
    }
}

@media (min-width: 1000px) {
    .project-card {
        width: 28.33333%;
    }
}

@media (min-width: 1400px) {
    .project-card {
        width: 20%;
    }
}