body {
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: .75em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.checked {
    text-decoration: line-through;
}

#cursive-span {
    font-family: 'Vibur', cursive;
}

/* For mapbox styling */
/* #map { 
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
} */

