/* Color Variables */
:root {
    --yellow: #F2D194;
    --tan: #D9B07E;
    --brown: #403027;
    --green: #5A7326;
    --blue: #3772A6;
}

/* Base Styling */
html {
    background-color: var(--green);
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    background-color: var(--yellow);
    color: var(--brown);
    border-radius: 30px 30px 10px 10px;
}

header, footer {
    background-color: var(--brown);
    color: var(--yellow);
    padding: 10px 0;
}

header {
    border-radius: 30px 30px 0 0;
}

footer {
    border-radius: 0 0 10px 10px;
}

button {
    width: 22.5%;
    height: auto;
    font-family: 'Balsamiq Sans', cursive;
    margin: 2px 0;
}

footer ul {
    display: flex;
    padding: 0;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: .75em;
    list-style: none;
}

footer a {
    color: var(--yellow);
}

footer a:visited {
    color: var(--yellow);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.weather-card {
    background-color: var(--blue);
    color: white;
}

.checklist {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.checklist ul {
    list-style: none;
    padding: 0;
    width: 45%;
    background-color: var(--brown);
}

.checklist li {
    cursor: pointer;
    width: 80%;
    margin: 5px auto;
    background-color: var(--yellow);
}

.checklist h4 {
    width: 80%;
    margin: 8px auto;
    background-color: var(--tan);

}

.checked {
    text-decoration: line-through;
    background-color: var(--tan);
}

#cursive-span {
    font-family: 'Vibur', cursive;
    font-size: 1.5em;
    margin: 0;
}

/* For mapbox styling */
/* #map { 
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
} */

