@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --light-blue: rgb(221, 229, 231);
    --yellow: rgb(161, 120, 70);
    --orange: rgb(223, 68, 56);
    --dark-blue: rgb(46, 46, 53);
}

html {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Mate", serif;
    color: var(--orange);
}

body {
    width: 100%;
    min-width: 367px;
    margin: 0 auto;
    padding: 0 0 8px 0;
    background-color: var(--dark-blue);
}

header {
    background-image: url("assets/RubyTravisWedding.jpeg");
    background-size: cover;
    background-position: center 60%;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header h1 {
    margin: 0 0 16px 0;
    padding: 4px 0;
    width: 100%;
    background-color: var(--orange);
    color: var(--light-blue);
    text-align: center;
}

a, a:visited {
    color: var(--dark-green);
}

nav {
    background-color: var(--yellow);
    font-size: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav a, nav a:visited {
    display: inline-block;
    padding: 4px 16px;
    text-align: center;
    color: var(--light-blue);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--green);
    text-decoration: underline;
}

section {
    background-color: var(--white);
    margin: 8px auto;
    padding: 16px 4px;
}

section h2 {
    text-align: center;
    width: 100%;
    padding: 0 0 16px 0;
}

section article {
    border: 1px dashed var(--light-blue);
    margin: 8px 4px;
    padding: 8px;
    width: 100%;
}

section article h3 {
    color: var(--yellow);
    margin-left: 8px;
}

ul {
    margin: 0;
    padding: 8px 4px;
    list-style: none;
}

li, p, em {
    padding: 16px 8px;
}

em {
    font-size: 1.25em;
    color: var(--yellow);
}

li {
    margin: 8px 4px;
}

span.smallcaps {
    font-variant: small-caps;
}

#registry p {
    text-align: center;
}

#vows p {
    text-align: center;
}

@media (min-width: 700px) {
    section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #dates article {
        width: 45%;
    }
}