h3 {
    font-size: 3em;
    margin: 0 auto;
}

button {
    margin: 0 auto;
}

#ball {
    width: 450px;
    height: 450px;
    padding: 25px;
    background-color: black;
    border-radius: 50%;
}

#eight {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 80px;
    text-align: center;
}

#window {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#die {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid cornflowerblue;
    text-align: justify;
    color: white;
    font-family: monospace;
}

#die p {
    width: 80px;
    height: 40px;
    margin: auto;
    margin-left: -50px;
    padding: 60px 10px 0;
    text-align: center;
}