h1 {
    font-family: sans-serif;
    text-align: center;
}

header, main, footer {
    text-align: center;
}

form {
    margin: 8px auto;
    padding: 4px 0;
    border: 1px solid black;
    max-width: 700px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: right;
}

tr {
    width: 100%
}

th, td {
    border: 1px solid gray;
}

th {
    text-align: center;
}

input {
    margin-left: 8px;
}

.cell-date {
    text-align: center;
}

.chart-rendered {
    height: 600px;
}

.form-row {
    margin: 4px 8px;
    padding: 4px;
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

#buttons {
    margin: 4px 8px;
    text-align: center;
    padding: 4px 0;
    border: 1px solid black;
}

#chartContainer {
    width: 100%;
    max-width: 700px;
    margin: 8px auto;
}

@media (max-width: 600px) {
    label {
        margin: 4px 8px;
    }

    .form-row {
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .form-row button {
        align-self: flex-end;
    }
}